.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.roof {
    flex: .4;
    position: relative;
}

.roof::before,
.roof::after {
    background-color: #e3e3e3;
    content: "";
    height: 2px;
    position: absolute;
    top: 0;
    width: 100%;
}

.roof::before {
    right: 50%;
    transform: translateX(-50%);
    transform-origin: right;
    transform: rotate(-45deg);
}

.roof::after {
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left;
    transform: rotate(45deg);
}

.wall {
    flex: .6;
    border-top: 3px solid #3C3034;
    border-bottom: 2px solid #e3e3e3;
    border-left: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
}

