.home-icon {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.home-icon__roof {
    flex: .4;
    position: relative;
}

.home-icon__roof::before,
.home-icon__roof::after {
    background-color: #e3e3e3;
    content: "";
    height: 2px;
    position: absolute;
    top: 0;
    width: 100%;
}

.home-icon__roof::before {
    right: 50%;
    transform: translateX(-50%);
    transform-origin: right;
    transform: rotate(-45deg);
}

.home-icon__roof::after {
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left;
    transform: rotate(45deg);
}

.home-icon__wall {
    flex: .6;
    border-top: 3px solid #3C3034;
    border-bottom: 2px solid #e3e3e3;
    border-left: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
}

