.home {
  padding: 0 2rem;
}

.home__main-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.home__developer-info {
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home__name {
  font-size: 6rem;
}

.home__role {
  font-size: 1.5rem;
  margin-top: .5rem;
}

.home__img-bg {
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  width: 30.25rem;
}
